<div class="card">
    <div class="card-body">
        <h1>
            jejejej
        </h1>
        <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dicta enim ex excepturi fugit nihil quas quasi, voluptates! Aliquam corporis, dolor fuga necessitatibus saepe sunt suscipit. Beatae odio officia similique.
        </p>
    </div>
</div>