<h1>Our index</h1>

<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex quam, sint? Atque, culpa, quod? Facere fugit ipsa laborum nostrum obcaecati tenetur vel velit vero. Asperiores aut consequuntur est fugit labore?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore dolores eius esse illo nostrum odit ut vel? Doloribus id illum itaque labore modi necessitatibus nihil perspiciatis quasi soluta voluptates!</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Faztweb</a>
</div>